html, body {
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  overflow-x: auto;
  /* overflow-y: auto; */ }

img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%; }

body {
  color: #424242;
  font-family: 'Roboto Condensed'; }

body > div {
  left: 0px; }

a {
  position: relative;
  top: 0px;
  color: #424242;
  width: 100%; }

a:link {
  text-decoration: none; }

a:visited {
  text-decoration: none; }

a:active {
  text-decoration: none; }

.top_bar {
  width: 100%;
  height: 40px;
  background-color: #76bd22;
  position: relative;
  top: 0px; }

.ar {
  display: none; }

.en {
  display: inline; }

.top_bar .contact_info {
  position: relative;
  margin-left: 13%;
  line-height: 40px; }

.top_bar .contact_info > span {
  position: absolute;
  top: 50%; }

.top_bar .social_media_icon {
  position: relative;
  float: right;
  margin-right: 13%;
  line-height: 40px; }

.social_media_icon > i {
  font-size: 17px;
  margin-right: 5px; }

.social_media_icon > i:hover {
  color: #FFFFFF;
  cursor: pointer; }

.social_media_icon > span {
  font-size: 17px;
  margin-right: 5px; }

.social_media_icon > span:hover {
  color: #FFFFFF;
  cursor: pointer; }

.main_menu {
  position: relative;
  /* top:40px; */
  height: 155px;
  line-height: 155px;
  width: 100%;
  background-color: #FFFFFF;
  -moz-transition: height .5s, width .5s,font-size .5s, left .5s ease;
  -webkit-transition: height .5s, width .5s, font-size .5s, left .5s ease;
  -o-transition: height .5s, width .5s, font-size .5s, left .5s ease;
  transition: height .5s, width .5s, font-size .5s, left .5s ease; }
  @media screen and (min-width: 1350px) and (min-width: 420px) {
    .main_menu {
      margin-left: 0%; } }
  @media screen and (max-device-width: 1000px) {
    .main_menu {
      min-width: 1000px; } }

.main_menu .main_logo {
  position: absolute;
  margin-left: 13%;
  width: 420px;
  display: inline-block;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease; }
  @media screen and (max-device-width: 1350px) and (min-device-width: 420px) {
    .main_menu .main_logo {
      margin-left: 0%; } }

.main_menu .main_logo > img {
  vertical-align: middle;
  width: 135px;
  height: 135px;
  margin-right: 10px; }

.main_menu .main_logo > span {
  position: absolute;
  font-size: 36px;
  /* margin-right: 8px; */
  /* left: 10px; */ }

.main_menu .top_navi {
  position: absolute;
  width: 42%;
  display: flex;
  justify-content: space-between;
  right: 13%;
  min-width: 550px; }
  @media screen and (max-device-width: 420px) {
    .main_menu .top_navi {
      display: none; } }
  @media screen and (max-device-width: 1350px) and (min-device-width: 420px) {
    .main_menu .top_navi {
      width: 55%;
      right: 2%; } }

.top_navi div {
  display: inline-block; }

.main_menu .top_navi div > span, .main_menu .top_navi div > a {
  font-size: 18px;
  text-decoration: none; }

.main_menu .top_navi div > a:hover {
  color: #76BD22;
  cursor: pointer; }

.fixed {
  position: fixed;
  top: 0px;
  z-index: 1000;
  height: 60px;
  line-height: 60px;
  -webkit-box-shadow: 0 6px 3px -6px #929292;
  -moz-box-shadow: 0 6px 3px -6px #929292;
  box-shadow: 0 6px 3px -6px #929292; }

.fixed .main_logo > span {
  font-size: 18px; }

.fixed .main_logo > img {
  width: 39px;
  height: 39px; }

.main_slider {
  background-size: cover;
  background-image: url("http://development.drkazem.divshot.io/images/doctors/hero1.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-position-x: 50%;
  background-position-y: 50%;
  background-attachment: fixed;
  height: 855px;
  position: relative;
  width: 100%;
  text-shadow: -0.5px 0 grey, 0 0.5px grey, 0.5px 0 grey, 0 -0.5px grey;
  -webkit-box-shadow: 0 9px 3px -9px #000;
  -moz-box-shadow: 0 9px 3px -9px #000;
  box-shadow: 0 9px 3px -9px #000; }

.main_slider_header {
  font-size: 60px;
  font-weight: 700;
  color: white;
  line-height: 72px;
  position: absolute;
  top: 20%;
  margin-left: 13%;
  min-width: 655px; }

.main_slider_desc {
  color: white;
  font-size: 36px;
  line-height: 36px;
  font-family: 'Roboto';
  font-weight: 500;
  position: absolute;
  top: 35%;
  margin-left: 13%;
  width: 655px; }

.main_slider_btn {
  position: absolute;
  top: 70%;
  margin-left: 13%;
  color: white;
  font-size: 28px;
  border: 3px solid white;
  border-radius: 10px;
  width: 303px;
  line-height: 59.8px;
  cursor: pointer;
  text-align: center !important; }
  @media screen and (max-device-width: 420px) {
    .main_slider_btn {
      display: none; } }

.main_slider_btn.slider_text_right {
  top: 60% !important; }

.main_slider_btn a > span {
  margin: 10px;
  color: white; }

.main_slider:hover .slider_buttons {
  visibility: visible; }

.slider_buttons {
  visibility: hidden;
  position: absolute;
  bottom: 60px;
  margin: 0 auto;
  width: 10%;
  display: flex;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-justify-content: space-around;
  justify-content: space-around;
  margin-left: 45%;
  margin-right: 45%; }

.slider_buttons div {
  height: 20px;
  width: 20px;
  background-color: #FFF;
  border-radius: 25px;
  border: 1px solid #AAA;
  cursor: pointer; }

.slider_buttons div:hover {
  background-color: #DDD; }

.slider_text_right {
  text-align: right;
  right: 5%; }

#sliderFrame {
  width: 100% !important;
  height: 100% !important; }

#slider {
  width: 100% !important;
  height: 100% !important; }

#slider div.navBulletsWrapper {
  top: 92% !important; }

#slider div.navBulletsWrapper div {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: white; }

.services {
  background-color: white;
  position: relative;
  width: 100%;
  /* top: 195px; */
  display: flex;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-justify-content: space-around;
  justify-content: space-around;
  margin-top: 60px; }

.services_header {
  width: 100%;
  text-align: center;
  font-size: 48px;
  color: #76BD22;
  position: absolute; }

.services > a {
  display: flex;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-justify-content: space-around;
  margin-left: 13%;
  justify-content: space-between;
  margin-right: 13%;
  padding-top: 100px;
  padding-bottom: 60px;
  flex-flow: row wrap; }
  @media screen and (max-device-width: 420px) {
    .services > a {
      display: block;
      /* overflow: auto; */
      width: 100%;
      margin: 0 auto;
      text-align: center; } }
  @media screen and (max-device-width: 1350px) and (min-device-width: 420px) {
    .services > a {
      display: block;
      /* overflow: auto; */
      width: 100%;
      margin: 0 auto;
      text-align: center; } }

.service_column1, .service_column2, .service_column3, .service_column4 {
  width: 240px;
  position: relative; }
  @media screen and (max-device-width: 420px) {
    .service_column1, .service_column2, .service_column3, .service_column4 {
      width: 50%;
      float: left; }
      .service_column1 .service_row, .service_column2 .service_row, .service_column3 .service_row, .service_column4 .service_row {
        font-size: 30px; } }
  @media screen and (max-device-width: 1350px) and (min-device-width: 420px) {
    .service_column1, .service_column2, .service_column3, .service_column4 {
      width: 50%;
      float: left; }
      .service_column1 .service_row, .service_column2 .service_row, .service_column3 .service_row, .service_column4 .service_row {
        font-size: 30px; } }

@media screen and (max-device-width: 420px) {
  .service_column1, .service_column2 {
    margin-bottom: 60px; } }
@media screen and (max-device-width: 1350px) and (min-device-width: 420px) {
  .service_column1, .service_column2 {
    margin-bottom: 60px; } }

.service_header {
  color: #76BD22;
  font-size: 36px; }
  .service_header div {
    text-align: right; }
  @media screen and (max-device-width: 1350px) and (min-device-width: 420px) {
    .service_header div {
      text-align: center; } }
  @media screen and (max-device-width: 420px) {
    .service_header div {
      text-align: center; } }

.service_row {
  font-size: 24px;
  margin-top: 10px;
  font-family: 'Roboto';
  font-weight: 100; }
  .service_row div {
    text-align: right; }
  @media screen and (max-device-width: 1350px) and (min-device-width: 420px) {
    .service_row div {
      text-align: center; } }
  @media screen and (max-device-width: 420px) {
    .service_row div {
      text-align: center; } }

.our_team {
  background-color: #76BD22;
  position: relative;
  /* top: 195px; */
  width: 100%;
  text-align: center; }

.our_team_header {
  width: 50%;
  margin: 0 auto;
  font-size: 48px;
  color: #FFFFFF;
  position: relative;
  padding-top: 60px; }

.our_team_desc {
  width: 50%;
  margin: 0 auto;
  font-size: 24px;
  color: #FFFFFF;
  position: relative;
  font-family: 'Roboto';
  font-weight: 100;
  padding-top: 30px; }

.our_images_container {
  position: relative;
  display: inline-block;
  padding-top: 30px;
  padding-bottom: 60px;
  width: 100%; }
  @media screen and (min-device-width: 1440px) {
    .our_images_container {
      width: 80%;
      min-width: 1440px; } }
  @media screen and (max-device-width: 1440px) and (min-device-width: 1000px) {
    .our_images_container {
      width: 70%; } }
  @media screen and (max-device-width: 1000px) and (min-device-width: 420px) {
    .our_images_container {
      width: 100%; } }

.our_team_images {
  display: flex;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap; }

.our_team_images > div {
  height: 350px;
  -webkit-box-shadow: 0 9px 3px -9px #000;
  -moz-box-shadow: 0 9px 3px -9px #000;
  box-shadow: 0 9px 3px -9px #000; }

.doc_pic {
  width: 350px;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px; }

.drkazem {
  background-size: cover;
  background-image: url("http://development.drkazem.divshot.io/images/doctors/Dr-Baker.png");
  background-repeat: no-repeat; }

.dralina {
  background-size: cover;
  background-image: url("http://development.drkazem.divshot.io/images/doctors/Dr-Alina.png");
  background-repeat: no-repeat; }

.drliu {
  background-size: cover;
  background-image: url("http://development.drkazem.divshot.io/images/doctors/Dr-Liu.png");
  background-repeat: no-repeat; }

.mrsbaker {
  background-size: cover;
  background-image: url("http://development.drkazem.divshot.io/images/doctors/Jenan-Baker.png");
  background-repeat: no-repeat; }

.our_team_images img {
  width: 350px;
  height: 350px; }

.doc_pic:hover {
  background-image: none;
  /*background-position: 0px -380px;*/ }

.doc_pic:hover .doc_text {
  opacity: 1;
  background-color: #F5F5F5;
  -webkit-transition: opacity .5s ease-in;
  -moz-transition: opacity .5s ease-in;
  -o-transition: opacity .5s ease-in;
  transition: opacity .5s ease-in;
  z-index: 30; }

.doc_text {
  opacity: 0;
  text-align: left;
  font-size: 23px;
  color: #464646;
  width: 350px;
  height: 350px; }

.doc_name {
  font-weight: 700; }

.doc_text div {
  position: relative;
  top: 20px;
  margin-left: 20px;
  width: 320px; }

.doc_desc {
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: 100; }

.our_office {
  width: 100%;
  position: relative; }

.our_office_row {
  width: 100%;
  /* float: left; */
  display: flex;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-justify-content: space-around;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  flex-flow: row wrap; }
  .our_office_row .two {
    background-image: url("http://development.drkazem.divshot.io/images/doctors/image8.JPG");
    background-size: cover;
    background-repeat: no-repeat; }
  .our_office_row .three {
    background-image: url("http://development.drkazem.divshot.io/images/doctors/image5.JPG");
    background-size: cover;
    background-repeat: no-repeat; }
  .our_office_row .four {
    background-image: url("http://development.drkazem.divshot.io/images/doctors/image14.JPG");
    background-size: cover;
    background-repeat: no-repeat; }
  .our_office_row .five {
    background-image: url("http://development.drkazem.divshot.io/images/doctors/image3.JPG");
    background-size: cover;
    background-repeat: no-repeat; }
  .our_office_row .six {
    background-image: url("http://development.drkazem.divshot.io/images/doctors/image12.JPG");
    background-size: cover;
    background-repeat: no-repeat; }

.office_pic {
  background-position: 50% 50%;
  width: 33%;
  height: 50%;
  border: 1px solid #ddD;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out; }
  @media screen and (max-device-width: 420px) {
    .office_pic {
      width: 100%;
      height: 600px !important; } }

.office_pic:hover .office_image_text {
  opacity: .8;
  background-color: #FFFFFF;
  -webkit-transition: opacity .5s ease-in;
  -moz-transition: opacity .5s ease-in;
  -o-transition: opacity .5s ease-in;
  transition: opacity .5s ease-in;
  z-index: 30; }

.office_image_main_text {
  text-align: left;
  font-size: 2em;
  color: #464646;
  position: absolute;
  top: 0px;
  width: 33.22%;
  height: 50%; }
  @media screen and (max-device-width: 1350px) and (min-device-width: 420px) {
    .office_image_main_text {
      font-size: 1em; } }
  .office_image_main_text div {
    position: relative;
    top: 20%;
    margin: 0 auto;
    margin-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px; }
    @media screen and (max-device-width: 1350px) and (min-device-width: 420px) {
      .office_image_main_text div {
        top: 20px;
        margin-bottom: 20px;
        padding-left: 10px;
        padding-right: 0px; } }
  @media screen and (max-device-width: 420px) {
    .office_image_main_text {
      width: 100%;
      height: 600px !important; }
      .office_image_main_text div {
        width: 80%; }
      .office_image_main_text .office_head {
        font-size: 2em; }
      .office_image_main_text .office_desc {
        font-size: 1.2em; } }
  @media screen and (max-device-width: 1000px) and (min-device-width: 420px) {
    .office_image_main_text .office_head {
      font-size: 1.2em; }
    .office_image_main_text .office_desc {
      font-size: .8em; } }

.office_image_text {
  opacity: 0;
  text-align: left;
  font-size: 23px;
  color: #464646;
  width: 100%;
  height: 100%;
  display: inline-flex; }

.row2 {
  top: 50% !important; }

.office_image_text div {
  position: relative;
  /* top: 30%; */
  margin: auto 0;
  /* margin-bottom: 30px; */
  width: 100%; }

.office_head {
  font-size: 30px;
  font-weight: 700; }

.office_header {
  text-align: center;
  font-size: 48px;
  font-weight: 300; }

.office_desc {
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: 100; }

.gallery_button span {
  cursor: pointer;
  padding: 10px 20px;
  border: 1px solid #929292;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out; }

.gallery_button span:hover {
  background-color: #DDD; }

.testimonials {
  position: relative;
  /* top: -50px; */
  width: 100%;
  background-color: white; }

.test_buttons_container {
  position: relative;
  /* margin: 0 auto; */
  width: 100%;
  display: flex; }

.test_buttons {
  width: 10%;
  margin: 0 auto;
  display: flex;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-justify-content: space-around;
  -webkit-flex-flow: row wrap;
  justify-content: space-around; }

.test_buttons div:hover {
  background-color: grey; }

.test_buttons div {
  height: 20px;
  width: 20px;
  background-color: #FFF;
  border-radius: 25px;
  border: 1px solid #AAA;
  cursor: pointer; }

.test_header {
  text-align: center;
  margin-top: 60px;
  font-size: 48px;
  color: #8BC53E; }

.test_text {
  /* margin-top: 30px; */
  font-size: 24px;
  width: 500px;
  height: 185px;
  /* text-align: center; */
  position: relative;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Roboto';
  font-weight: 100;
  /* margin-left: 32%; */
  /* margin-right: 50%; */ }

.test_author {
  margin-top: 20px;
  font-size: 24px;
  color: #898989;
  width: 500px;
  margin-left: 40%;
  margin-right: 40%;
  font-family: 'Roboto';
  font-weight: 100; }

.test_author span {
  float: right; }

.location_map {
  position: relative;
  /* top: 195px; */
  width: 100%;
  height: 600px;
  display: flex;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-justify-content: space-around;
  -webkit-flex-flow: row wrap;
  justify-content: space-around; }

.location_map a {
  width: 0%; }

#map1 {
  width: 49%;
  margin-top: 160px; }

#map2 {
  width: 49%;
  margin-top: 160px; }

.location_text {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #DDD;
  display: flex;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-justify-content: space-between;
  -webkit-flex-flow: row wrap;
  justify-content: space-between; }

.location_text > a {
  position: relative;
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-justify-content: space-between;
  margin-left: 13%;
  justify-content: space-between;
  margin-right: 13%; }
  @media screen and (max-device-width: 420px) {
    .location_text > a {
      margin-left: 40px !important;
      margin-right: 40px !important;
      flex-flow: row wrap;
      -webkit-flex-flow: row wrap;
      -webkit-justify-content: space-around;
      justify-content: space-around;
      width: 100%; } }
  @media screen and (max-device-width: 1350px) and (min-device-width: 420px) {
    .location_text > a {
      margin-left: 6%;
      margin-right: 6%; } }

.column {
  width: 20%; }
  @media screen and (max-device-width: 420px) {
    .column {
      width: 40%;
      margin-bottom: 20px; } }

.loc_city {
  font-size: 36px;
  color: #76bd22; }
  @media screen and (max-device-width: 1350px) and (min-device-width: 420px) {
    .loc_city {
      font-size: 1.5em; } }

.loc_text, .office_text {
  font-size: 18px;
  margin-top: 0px;
  font-family: 'Roboto';
  font-weight: 100; }
  @media screen and (max-device-width: 1350px) and (min-device-width: 420px) {
    .loc_text, .office_text {
      font-size: 1em; } }

.loc_number {
  font-size: 18px;
  margin-bottom: 10px;
  font-family: 'Roboto';
  font-weight: 100; }

.column_office {
  width: 20%; }
  @media screen and (max-device-width: 420px) {
    .column_office {
      width: 40%;
      margin-bottom: 20px; } }

.office_hours {
  font-size: 30px;
  font-family: 'Roboto';
  font-weight: 100; }
  @media screen and (max-device-width: 1350px) and (min-device-width: 420px) {
    .office_hours {
      font-size: 1.5em; } }

.office_text .tab {
  float: right;
  margin-left: 10px; }

.contact_us {
  position: relative;
  width: 100%;
  height: 480px;
  background-color: #76bd22;
  text-align: center; }

#form1 input {
  padding-left: 5px; }

.contact_us_form {
  text-align: left;
  margin: 0 auto;
  position: relative;
  top: 50px; }

.contact_us_form > form {
  display: flex;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-justify-content: space-around;
  -webkit-flex-flow: row wrap;
  justify-content: space-around; }

.right_form .input {
  width: 100%;
  height: 30px;
  margin-bottom: 5px; }

.left_form {
  width: 31%;
  margin-left: 13%; }

.right_form {
  width: 31%;
  margin-right: 13%; }

.right_form textarea {
  height: 100px !important;
  margin-top: 5px;
  resize: none;
  font-family: 'Roboto'; }

.left_form .input {
  width: 100%;
  height: 30px;
  margin-bottom: 5px; }

.contact_desc {
  font-size: 18px;
  color: white;
  position: relative;
  top: 20px; }

.submit_button {
  padding: 10px 30px !important;
  border: 1px solid #929292;
  background-color: #fff;
  padding-left: 0px; }
  .submit_button:hover {
    background-color: #DDD;
    cursor: pointer; }

.footer {
  height: 300px;
  position: relative;
  /* top: 195px; */
  width: 100%; }

.footer .main_logo {
  position: absolute;
  left: 100px;
  width: 420px;
  display: inline-block; }

.footer .main_logo > span {
  position: absolute;
  height: 1em;
  font-size: 36px; }

.footer .top_navi {
  position: absolute;
  display: inline-block;
  height: 150px;
  margin-top: 60px;
  margin-left: 13%;
  font-size: 18px; }
  @media screen and (max-device-width: 420px) {
    .footer .top_navi {
      margin-left: 3%; } }

.footer_location {
  position: relative;
  top: 100px;
  margin-left: 13%;
  font-size: 18px;
  height: 30px; }
  @media screen and (max-device-width: 420px) {
    .footer_location {
      margin-left: 3%; } }

.footer .top_navi > span, .footer .top_navi a {
  height: 1em;
  font-size: 18px;
  margin-right: 20px; }

.footer .top_navi a:hover {
  color: #76bd22;
  cursor: pointer; }

.footer img {
  width: 39px;
  height: 39px;
  vertical-align: middle;
  margin-right: 10px; }

/*# sourceMappingURL=main.css.map */
