html,body
{
    overflow-x: hidden; 
}
img{
	max-width:100%;
	max-height:100%;
}

body{
	color:#424242;
	font-family: 'Roboto Condensed';
}
body>div{
	left:0px;
}
a{
	position: relative;
	top: 0px;
	color:#424242;
	width:100%;
}
a:link{
	text-decoration:none;
}
a:visited {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}

.top_bar{
  width: 100%;
  height: 40px;
  background-color: #76bd22;
  position: absolute;
  top: 0px;
}

.top_bar .contact_info{
  position: relative;
  left: 100px;
  line-height: 40px;
}

.top_bar .contact_info>span{
	position: absolute;
	top:50%;
}
.top_bar .social_media_icon{
  position: relative;
  width: 250px;
  float: right;
  line-height: 40px;
}
.social_media_icon>i{
	font-size:17px;
	margin-right:5px;
}
.social_media_icon>i:hover{
	color:#FFFFFF;
	cursor: pointer;
}

.main_menu{
	position:absolute;
	top:40px;
	height:155px;
	line-height: 155px;
	width:100%;
	background-color: #FFFFFF;
	-moz-transition: height .5s, width .5s,font-size .5s, left 1s ease;
    -webkit-transition: height .5s, width .5s, font-size .5s, left 1s ease;
    -o-transition: height .5s, width .5s, font-size .5s, left 1s ease;
    transition: height .5s, width .5s, font-size .5s, left 1s ease;
}

.main_menu .main_logo{
	position:absolute;
	left:100px;
	width:420px;
	display:inline-block;
}

.main_menu .main_logo>img{
	vertical-align:middle;
	width:135px;
	height:135px;
}
.main_menu .main_logo>span{
	position:absolute;
	font-size:36px;
}

.main_menu .top_navi{
	position:absolute;
	display:inline-block;
	right:100px;
}

.main_menu .top_navi>span, .main_menu .top_navi>a{
	font-size:18px;
	margin-right:20px;
	text-decoration:none;
}
.main_menu .top_navi>a:hover{
	color:#76BD22;
	cursor: pointer;
}
.fixed{
	position:fixed;
	top:0px;
	z-index: 1000;
	height:60px;
	line-height:60px;
	-webkit-box-shadow: 0 8px 6px -6px #929292;
    -moz-box-shadow: 0 8px 6px -6px #929292;
    box-shadow: 0 8px 6px -6px #929292;
}
.fixed .main_logo{
	left: 200px;
}
.fixed .main_logo>span{
	font-size:18px;
}
.fixed .main_logo>img{
	width:39px;
	height:39px;
}

.main_slider{
	background-size: cover;
	background-image: url('http://development.drkazem.divshot.io/images/doctors/hero.jpg');
	background-repeat: no-repeat;
	height:855px;
	position:absolute;
	top:195px;
	width:100%;
}
#sliderFrame{
	width:100% !important;
	height:100% !important;
}
#slider{
	width:100% !important;
	height:100% !important;
}
#slider div.navBulletsWrapper{
	top:92% !important;
}
#slider div.navBulletsWrapper div{
	width: 20px;
	height:20px;
	border-radius:20px;
	background-color:white;
}

.services{
	background-color: #white;
	position: absolute;
	width: 100%;
	height: 420px;
	top: 1050px;
	display:flex;
	justify-content:space-around;
}
.services>a{
	width:90%;
	display:flex;
	justify-content:space-around;
}

.service_column1, .service_column2, .service_column3, .service_column4{
	width:225px;
	position:relative;
	top:50px;
}

.service_header{
	color:#76BD22;
	font-size:36px;
}
.service_row{
	font-size:24px;
	margin-top:10px;
}
.our_team{
	background-color:#76BD22;
	position:absolute;
	top:1500px;
	height:720px;
	width:100%;
	text-align: center;
}
.our_team_header{
	width:50%;
	margin: 0 auto;
	font-size:48px;
	color: #FFFFFF;
	position:relative;
	top: 60px;
}
.our_team_desc{
	width:50%;
	margin: 0 auto;
	font-size:24px;
	color: #FFFFFF;
	position:relative;
	top: 90px;
}
.our_team_images{
	display:flex;
	justify-content:space-around;
	position:relative;
	top:150px;
}
.our_team_images>img{
	width:350px;
	height:350px;
}
.doc_text{
	opacity: 0;
}

.our_office{
	width:100%;
	position:absolute;
	top:2220px;
	height:800px;
}
.our_office_row{
	width:100%;
	height:50%;
	display:flex;
	justify-content: space-around;
}
.our_office_row>img{
	width:33%;
}
.testimonials{
	position:absolute;
	top:3020px;
	width:100%;
	height:400px;
	background-color:#424242;
}

.location_map{
	position:absolute;
	top:3420px;
	width:100%;
	height:400px;
	display:flex;
}
#map1{
	width:50%;
}
#map2{
	width:50%;
}

.location_text{
	width:100%;
	position:absolute;
	top:3775px;
	height:400px;
	display:flex;
	justify-content:space-around;
}
.column{
	position:relative;
	top:60px;
	width:300px;
}

.loc_city{
	font-size: 36px;
	  color: #76bd22;
}
.loc_text, .office_text{
	font-size:18px;
	color:#AFAFAF;
	margin-top: 0px;
}

.loc_number{
	font-size:18px;
	color:#AFAFAF;
	margin-bottom:10px;
}
.column_office{
	position:relative;
	top:63px;
	width:250px;
}
.office_hours{
	font-size:30px;
	color:#AFAFAF;
}
.office_text .tab{
	float:right;
	margin-left:10px;
}

.contact_us{
	position:absolute;
	width:100%;
	top:4220px;
	height: 550px;
	background-color:#76bd22;
	text-align:center;
}
 .contact_us_form{
 	text-align:left;
 	width:50%;
 	margin: 0 auto;
 	position:relative;
 	top: 120px;
 	line-height:1.9em;
 }
 .contact_us_form>form{
 	display:flex;
 	justify-content:space-around;
 }
 .right_form .input{
 	width:300px;
 }
  .left_form .input{
 	width:300px;
 }

 .footer{
 	height:150px;
 	position:absolute;
 	top: 4390px;
 	width:100%;
 }
 .footer .main_logo{
	position:absolute;
	left:100px;
	width:420px;
	display:inline-block;
}
.footer .main_logo>span{
	position:absolute;
	height:1em;
	font-size:36px;
}

.footer .top_navi{
	position:absolute;
	display:inline-block;
	width:100%;
	text-align:center;
	height:150px;
}

.footer .top_navi>span, .footer .top_navi>a{
	height:1em;
	font-size:18px;
	margin-right:20px;
}
.footer .top_navi>a:hover{
	color:#76bd22;
	cursor: pointer;
}
.footer .top_navi>img{
	height:135px;
	width:135px;
	vertical-align:middle;
}